/* Content Stylings */
.content {

  & > p {
    @apply mb-5 last-of-type:mb-0;
  }

  & > p > a {
    @apply underline hover:text-orange focus:text-orange;
  }

  & > h1, & > .h1 {
    @apply text-3xl md:text-4xl;
  }

  & > h2, & > .h2 {
    @apply text-3xl lg:text-4xl;
  }
  & > h3, & > .h3 {
    @apply text-2xl lg:text-3xl;
  }

  & > * + h2, & > * + .h2 {
    @apply mt-[38px] lg:mt-[55px];
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3 {
  @apply p-0 mb-6 font-display;

  em {
    @apply font-displayItalic;
  }
}

.font-display {
  em {
    @apply font-displayItalic font-light text-[92%] leading-[75%] pr-[0.2%];
  }
}

.hero--projects::last-word {
  @apply italic bg-red-500;
}

@screen lg {
  .content--cols {
    columns: 2;
    column-gap: 5vw;
  }
}

table {
  tr:first-of-type {
    @apply font-medium bg-black/5;
  }

  td {
    @apply align-top;
  }
}