/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-off-white selection:bg-black selection:text-off-white ;
  overscroll-behavior: none!important;

}

html.lenis {
  height: auto;
}

.lenis {
  display: table;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  @apply border-b-[50vw] border-b-yellow;
}

.ease-ak {
  @apply ease-[cubic-bezier([0.83,0,0.17,1])] 
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-x-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@supports  (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}


.squiggle {
  path {
    
    stroke: black;
    stroke-width: 10px;
  }
}

.cover-image {
  figure, img {
    @apply absolute inset-0 object-cover object-center w-full h-full;
  }
}

.hero-project-filter {
  filter: brightness(0.9) saturate(0.9) hue-rotate(-10deg) sepia(0.3);
}

.animate-sunny-spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.rounded-xl, .rounded-2xl, .rounded-lg, .rounded-full {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0)
}

.remove-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 75%;
  min-width: 0;
}

@screen lg {
  .embla__slide {
    flex: 0 0 30%;
    min-width: 0;
  }
}

@screen 2xl {
  .embla__slide {
    flex: 0 0 28%;
    min-width: 0;
  }
}