/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-off-white selection:bg-black selection:text-off-white ;
  overscroll-behavior: none!important;

}

html.lenis {
  height: auto;
}

.lenis {
  display: table;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  @apply border-b-[50vw] border-b-yellow;
}

.ease-ak {
  @apply ease-[cubic-bezier([0.83,0,0.17,1])] 
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-x-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@supports  (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}


.squiggle {
  path {
    
    stroke: black;
    stroke-width: 10px;
  }
}

.flip-card {
  @apply w-full relative transition-transform ease-in-out duration-[750ms];
  perspective: 1000px;
}

.flip-card-inner {
  @apply relative w-full h-full transition-transform ease-in-out duration-[750ms] aspect-[10/12];
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover {
  @apply scale-[1.075]
}

.flip-card-front, .flip-card-back {
  @apply absolute w-full h-full inset-0 overflow-hidden rounded-2xl;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  @apply bg-orange text-yellow flex items-center justify-center text-center;
  transform: rotateY(180deg);
}